<!doctype html>
<style>
    body {
        font-family: 'Montserrat';font-size: 18px;
    }
    .navbar-nav > li{
      margin-left:30px;
      margin-right:0px;
    }
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 10px;
      }
      .grid-item {
        padding: 20px;
        font-size: 30px;
        text-align: center;
      }
</style>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
    <title>Populability - A Sustainable Approach to Rising Populations</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style = "font-size: 18px">
        <div class="container-fluid">
        <a class="navbar-brand">Populability</a>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
              <li><a class="nav-link" href="/">Home</a></li>
              <li><a class="nav-link active" aria-current="page" href="/info">Info</a></li>
              <li><a class="nav-link" href="/sdg">SDGs</a></li>
              <li><a class="nav-link" href="/solution">Solutions</a></li>
            </div>
          </div>
        </div>
      </nav><br><br>
      <h1 style="font-size: 40px;text-align:center; color:rgb(0, 0, 0)">What is Overpopulation?</h1><br><br>
      <p style="font-size: 20px;text-align:center; color:rgb(0, 0, 0)">The Earth's population has rapidly been increasing from time to time, and it deeply affects human geography in our world.<br>
        Overpopulation is when an area has too many people to have enough living space. Many communities in today's world face overpopulation.<br><br>
        Let's start off with a question:<br><br>
        Which of the following is an example of a population?
      </p>
      <center>
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Select an Option
        </button>
        <ul class="dropdown-menu" onclick="setup()">
          <li id = "drop1" onclick="validate('humans')"><a class="dropdown-item" >Humans</a></li>
          <li id = "drop2" onclick="validate('aliens')"><a class="dropdown-item">Aliens</a></li>
          <li id = "drop3" onclick="validate('toys')"><a class="dropdown-item">Toys</a></li>
        </ul>
      </div>
      <script>
        function setup(){
          const toastTrigger = document.getElementById('drop1')
          const toastTrigger2 = document.getElementById('drop2')
          const toastTrigger3 = document.getElementById('drop3')
          const toastLiveExample = document.getElementById('liveToast')
          const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample)
          toastTrigger.addEventListener('click', () => {
              toastBootstrap.show()
          })
          const toastBootstrap2 = bootstrap.Toast.getOrCreateInstance(toastLiveExample)
          toastTrigger2.addEventListener('click', () => {
              toastBootstrap.show()
          })
          const toastBootstrap3 = bootstrap.Toast.getOrCreateInstance(toastLiveExample)
          toastTrigger3.addEventListener('click', () => {
              toastBootstrap.show()
          })
        }
        function validate(s){
            const p = document.getElementById("question1");
            if (s == "humans"){
                p.textContent="Correct!";
            }
            else if(s != "humans"){
                p.textContent="Incorrect!";
            }
        }
    </script>

    </center>
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header">
            <strong class="me-auto" id = 'question1'></strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
        </div>
      </div>
      <p style="font-size: 20px;text-align:center; color:rgb(0, 0, 0)"> <br><br>Perfect! Now, let's discuss the factors that can affect the growth of populations: <br><br>
        First off, we have got the birth rate (births per year). This is the biggest factor that contributes to our world's overpopulation.<br><br>
        Second, we have got the death rate (deaths per year). This factor reduces overpopulation. <br><br>
        Third, we have got immigration (immigrants per year). Immigration doesn't increase the world's population, but increases the population density of certain areas. <br><br>
        Lastly, we have got emigration (emigrants per year). Emigration also doesn't decrease the world's population, but it decreases the population density of an area. <br><br></p>
      <p style="font-size: 20px;text-align:center; color:rgb(0, 0, 0)">Typically, populations face logistic growth:</p>
      <center><img src="static/images/Logistic.png" alt="Logistic graph"></center>
      <p style="font-size: 20px;text-align:center; color:rgb(0, 0, 0)">However, due to heavy technological advancements in humanity, the carrying capacity is getting higher.<br>
        This results in a graph that looks like:<br><br></p>
        <center><img src="static/images/Exponential.png" alt="Exponential graph"></center>
        <p style="font-size: 20px;text-align:center; color:rgb(0, 0, 0)"><br><br> And here is the predicted human population graph for the future:<br><br></p>
        <center><img src="static/images/Future.png" alt="Future Exponential graph"></center>
        <p style="font-size: 20px;text-align:center; color:rgb(0, 0, 0)"><br><br> As you can see, overpopulation is a big problem which we must find a sustainable solution to.<br><br></p>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>